body {
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.wrapper {
  width: 1600px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* -Block one- */
.blockOne {
  position: absolute;
  width: 1600px;
  height: 744px;
  top: 0px;
}
.blockOne img {
  position: absolute;
  width: 1600px;
  height: 744px;
  top: 0px;
}
/* -Header-*/
.blockOne header {
  position: absolute;
  width: 1600px;
  height: 95px;
  top: 0px;
}
#headerlogo {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 778px;
  top: 25px;
}
#headerlogo img {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0px;
}
.headerAbout {
  position: absolute;
  width: 38px;
  height: 21px;
  left: 502px;
  top: 38px;
  border-bottom: 1px solid white;
}
.headerAbout a {
  position: absolute;
  width: 38px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.headerSyll {
  position: absolute;
  width: 53px;
  height: 20px;
  left: 625px;
  top: 38px;
}
.headerFont {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.8;
}
.headerSyll a {
  text-decoration: none;
  color: white;
}
.headerSyll a:hover {
  opacity: 1;
}
.headerSyll:hover {
  border-bottom: 1px solid white;
}
.headerPro {
  position: absolute;
  width: 52px;
  height: 20px;
  left: 923px;
  top: 38px;
}
.headerPro a {
  text-decoration: none;
  color: white;
}
.headerPro a:hover {
  opacity: 1;
}
.headerPro:hover {
  border-bottom: 1px solid white;
}
.headerFaq {
  position: absolute;
  width: 26px;
  height: 20px;
  left: 1058px;
  top: 38px;
}
.headerFaq a {
  text-decoration: none;
  color: white;
}
.headerFaq a:hover {
  opacity: 1;
}
.headerFaq:hover {
  border-bottom: 1px solid white;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  left: 800px;
}
/* -Main- */
.blockOneYourLife {
  position: absolute;
  width: 800px;
  height: 75px;
  left: 435px;
  top: 231px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #ffffff;
}
.blockOneYourLife h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}
#blockOneWhatever {
  position: absolute;
  width: 504px;
  height: 50px;
  left: 548px;
  top: 310px;
}
#blockOneWhatever h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.blockOneBtn {
  left: 707px;
  top: 406px;
}
.btn-main {
  display: flex;
  flex-direction: row;
  padding: 15px 47px;
  position: absolute;
  width: 184px;
  height: 46px;
  background: #00afdb;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.btn-main:hover {
  position: relative;
  background: #009cc2;
  cursor: pointer;
}
.btn-main:focus {
  outline: none;
}
#blockOneSocials {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 715px;
  top: 635px;
  list-style-type: none;
}

#socialsMail {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#mailSet {
  left: 0;
  margin-top: 0;
}
.socialBlock {
  position: absolute;
  width: 20px;
  height: 20px;
  transition: all linear 0.5s;
}
.socialBlock:hover {
  transform: scale(1.5);
}
#fbSet {
  left: 50px;
  margin-top: 0;
}
#socialsFb {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#instSet {
  left: 100px;
  margin-top: 0;
}
#socialsInst {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#tgSet {
  left: 150px;
  margin-top: 0;
}
#socialsTg {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}

/* -Second block- */
#blockSecond {
  top: 744px;
  position: relative;
}
.blockBack {
  background-color: white;
  position: absolute;
  width: 1600px;
  height: 842px;
  left: 0px;
}
#blockSecond img {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 923px;
  top: 120px;
}
#contentOne {
  position: absolute;
  width: 407px;
  height: 233px;
  left: 268px;
  top: 295px;
}
.blockSecondBtn {
  left: 0px;
  top: 187px;
}
#rappresent {
  position: absolute;
  width: 368px;
  height: 57px;
  left: 0px;
  top: 0px;
}
.contentH {
  margin: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  position: absolute;
}
#contentOneText {
  position: absolute;
  width: 407px;
  height: 80px;
  left: 0px;
  top: 77px;
}
.contentFont {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #4e4e4e;
}

/* -Block Three- */
#blockThree {
  position: absolute;
  width: 1600px;
  height: 504px;
  left: 0px;
  top: 1586px;
  background-color: #f5f6f7;
  overflow: hidden;
}
#contentThree {
  position: absolute;
  width: 298px;
  height: 175px;
  left: 269px;
  top: 155px;
}
#contentThree img {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 127px;
  top: 0px;
}
#community {
  position: absolute;
  width: 162px;
  height: 20px;
  left: calc(50% - 160px / 2);
  top: 65px;
}
#community h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 0px;
  color: #373737;
}
#contentThreeText {
  position: absolute;
  width: 298px;
  height: 80px;
  left: calc(50% - 298px / 2);
  top: 95px;
}
#contentThreeText p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #4e4e4e;
  margin-top: 0px;
}
#navItems {
  position: absolute;
  width: 83px;
  height: 18px;
  right: 269px;
  top: 80px;
}
.sliderBtnPrev {
  position: absolute;
  width: 9px;
  height: 14px;
  left: -7px;
  top: 0px;
  text-align: center;
  border: none;
  background-color: transparent;
}
.sliderBtnPrev img {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
}
.sliderBtnPrev:hover {
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
}
.sliderBtnPrev:focus {
  outline: none;
}
.sliderBtnNex {
  position: absolute;
  width: 9px;
  height: 14px;
  left: 66px;
  top: -1px;
  text-align: center;
  border: none;
  background-color: transparent;
}
.sliderBtnNex img {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  margin: 0px;
}
.sliderBtnNex:hover {
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
}
.sliderBtnNex:focus {
  outline: none;
}
.sliderCount {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  position: absolute;
  text-align: center;
  color: #373737;
}
.sliderOne {
  left: 23px;
}
.sliderSecond {
  left: 38px;
}
.sliderThree {
  right: 23px;
}
#slider {
  position: absolute;
  width: 894px;
  height: 244px;
  left: 706px;
  top: 120px;
}
#slider img {
  position: absolute;
  width: 407px;
  height: 244px;
  top: 0px;
}
#slideOne {
  left: 0px;
}
#slideTwo {
  left: 437px;
}
#slideThree {
  left: 874px;
}

/* -Block Four- */
#blockFour {
  position: absolute;
  top: 2090px;
  margin: 0px;
}
#blockFour img {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 269px;
  top: 120px;
}
#contentFour {
  position: absolute;
  width: 407px;
  height: 184px;
  left: 815px;
  top: 319px;
}
#contentFourText {
  position: absolute;
  width: 407px;
  height: 60px;
  left: 0px;
  top: 48px;
}
#implement {
  position: absolute;
  width: 300px;
  height: 28px;
  left: 0px;
  top: 0px;
}
.blockFourBtn {
  left: 0px;
  top: 138px;
}
.btnLearn {
  display: flex;
  flex-direction: row;
  padding: 15px 47px;
  position: absolute;
  width: 180px;
  height: 46px;
  background: #00afdb;
  border: none;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.btnLearn:hover {
  position: relative;
  background: #009cc2;
  cursor: pointer;
}
.btnLearn:focus {
  outline: none;
}

/* -Block Five- */
#blockFive {
  position: absolute;
  width: 1600px;
  height: 524px;
  left: 0px;
  top: 2932px;
}
#blockFive img {
  position: absolute;
  width: 1600px;
  height: 524px;
  left: 0px;
  top: 0px;
}
#signUp {
  position: absolute;
  width: 406px;
  height: 104px;
  left: 597px;
  top: 200px;
}
#signH {
  position: absolute;
  width: 382px;
  height: 28px;
  left: 13px;
  top: 0px;
  margin: 0px;
}
#signH h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
  color: #ffffff;
}
#sign {
  position: absolute;
  width: 406px;
  height: 46px;
  left: 0px;
  top: 58px;
}
form {
  position: absolute;
  width: 340px;
  height: 46px;
  left: 0px;
  top: 0px;
  outline: none;
}
#inputSign {
  position: absolute;
  width: 336px;
  height: 44px;
  left: 0px;
  top: 0px;
  border: none;
  background: #ffffff;
  border-radius: 0px;
}
input {
  padding-left: 24px;
}
input:focus {
  outline: none;
}
.btnSign {
  position: absolute;
  width: 66px;
  height: 46px;
  left: 340px;
  top: 0px;
  background-color: #00afdb;
  border: none;
  background-image: url(assets/ok.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.btnSign:hover {
  position: relative;
  background: #009cc2;
  cursor: pointer;
  background-image: url(assets/ok.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}
.btnSign:focus {
  outline: none;
}

/* -BlockSix- */
#blockSix {
  position: absolute;
  width: 1600px;
  height: 464px;
  left: 0px;
  top: 3456px;
  background: #f5f6f7;
}
#download {
  position: absolute;
  width: 251px;
  height: 28px;
  left: 675px;
  top: 120px;
}
#download h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin: 0px;
}
#contentSix {
  position: absolute;
  width: 480px;
  height: 40px;
  left: 560px;
  top: 168px;
}
#contentSix p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
  margin: 0px;
}
#btnApple {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  width: 186px;
  height: 46px;
  left: 599px;
  top: 238px;
}
#textApple {
  position: static;
  width: 127px;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #00afdb;
  border-radius: 0px;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
  border: none;
  cursor: pointer;

  color: white;
  text-transform: uppercase;

  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}
#textApple:hover {
  background: #009cc2;
}
#textApple:focus {
  outline: none;
}

#appStore {
  position: static;
  width: 59px;
  height: 46px;
  left: 127px;
  top: 0px;
  background: #009cc2;
  border-radius: 0px;
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 0px;
  border: none;
  background-image: url(assets/icon-apple.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#appStore:hover {
  background-size: 35%;
}
#appStore:focus {
  outline: none;
}
#btnPlay {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  width: 186px;
  height: 46px;
  left: 815px;
  top: 238px;
}
#textPlay {
  position: static;
  width: 127px;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #00afdb;
  border-radius: 0px;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
  border: none;
  cursor: pointer;

  color: white;
  text-transform: uppercase;

  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}
#textPlay:hover {
  background: #009cc2;
}
#textPlay:focus {
  outline: none;
}
#playMarket {
  position: static;
  width: 59px;
  height: 46px;
  left: 127px;
  top: 0px;
  background: #009cc2;
  border-radius: 0px;
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 0px;
  border: none;
  background-image: url(assets/icon-android.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#playMarket:hover {
  background-size: 40%;
}
#playMarket:focus {
  outline: none;
}

/* -Footer- */
footer {
  position: absolute;
  width: 1600px;
  height: 185px;
  left: 0px;
  top: 3920px;

  background: #000000;
}
footer img {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 778px;
  top: 60px;
}
#by {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 1270px;
  top: 73px;
}
#by p {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #818181;
  margin: 0px;
}
#footerNav {
  position: absolute;
  width: 236px;
  height: 20px;
  left: 160px;
  top: 73px;
}
.footNavFont {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  margin: 0px;
  cursor: pointer;
}
.footNavFont:hover {
  text-decoration: underline;
}
.footOne {
  position: absolute;
  width: 45px;
  height: 20px;
  left: 0px;
  top: 0px;
}
.footTwo::after {
  content: "";
  height: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  left: -21px;
  top: 7px;
}
.footTwo::before {
  content: "";
  height: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  right: -20px;
  top: 7px;
}
.footTwo {
  position: absolute;
  width: 46px;
  height: 20px;
  left: 85px;
  top: 0px;
}
.footThree {
  position: absolute;
  width: 65px;
  height: 20px;
  left: 171px;
  top: 0px;
}
